body {
  margin: 0px;
  background-image: linear-gradient(white, black); /* Creates a gradient that covers the entire page */
  min-width: 450px; /* Settings I changed to make it look good */
}
header{
  margin: 1vh 1vw;
  width: 65vw;
  background-color: black; /* Gives the header a black background */
  border: 3px solid lime; /* Creates a box around the header */
  border-radius: 15px; /* Rounds the edges of the header box */
  padding: 10px; /* Prevents the contents of the header from contacting the headr box */
}
h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* Sets the font of the largest header depending on what fonts the user has installed */
  color: black; /* Sets the the color of the header text to black */
  -webkit-text-stroke: 0.002px lime; /* Gives the header text a lime border to make it visible */
  margin-top: 0px; /* Moves the header text closer to the top of the headerbox */
}
p {
  font-family: 'Courier New', Courier, monospace; /* Sets the font of all paragraphs depending on what fonts the user has installed */
  color: lime; /* Sets the color of the text in all the paragraphs to lime */
}
hr {
  height: 5px; /* Sets the size of all horizontal lines */
  border-width: 0px; /* Removes the border around all horizontal lines */
  background-image: radial-gradient(rgba(0, 255, 0, 1), rgba(0, 255, 0, 1), rgba(0, 255, 0, 0.01), rgba(0, 255, 0, 0)); /* Sets the color and describes the shape of all horizontal lines */
}
nav {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: black;
  border: 1px solid lime;
}
span {
  color: lime;
}
.dropdown {
  position: relative;
  display: inline-block;
  border: 1px solid lime;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  min-width: 21vw;
  z-index: 1;
}
.dropdown-content a {
  display: inline-block;
}
.dropdown:hover .dropdown-content {
  display: inline-block;
}
a {
  color: lime;
  text-decoration: none;
  border: 1px solid lime;
  border-radius: 5px;
  padding: 5px;
}
div a {
  border-radius: 0px;
  padding: 1vh 2vw;
  margin: auto;
}
nav div {
  border-radius: 0px;
  padding: 1vh 2vw;
  margin: auto;
}
a:link {
  background-color: black;
}
a:visited {
  background-color: black;
}
a:hover {
  background-color: gray;
}
a:active {
  background-color: white;
}
iframe {
  height: 30vh; /* Sets the height of all iframes */
  width: 60vw; /* Sets the width of all iframes */
  background-color: white;
  border: 2px solid black; /* Creates a box around all iframes */
  border-radius: 15px; /* Rounds the edges of the iframe boxes */
  margin: 2vh 0px;
  }
footer {
  font-style: italic; /* Makes all footers italic */
  color: lime; /* Makes the text of all footers lime green */
  border: 1px solid lime; /* Creates a green box around all footers */
  margin: 10px; /* Moves footer box further away from surrounding elements */
  border-radius: 3px; /* Rounnds the edges of all footer boxes */
  background-color: black; /* Makes all footer boxes black */
  padding: 5px;
}