body {
  background-image: url(/files/images/school/unit6/PumpkinHouse.webp);
  background-size: cover;
}
#wrapper {
  width: 60%;
  margin: auto;
  margin-top: 30px;
}
main {
  color: darkred;
  background-color: tan;
}
ul {
  list-style-image: url(/files/images/school/unit6/Pump.png);
}
.image {
  height: 300px;
  background-image: radial-gradient(white, tan);
}
.specialborder {
  border: 0px solid transparent;
  border-radius: 15px;
  padding: 2em;
  border-image-source: url(/files/images/school/unit6/Pump-2.png);
  border-image-slice: 33%;
  border-image-width: 1.5em;
  border-image-repeat: round;
}
.imagerequest::after {
  content: url(/files/images/school/unit6/Pump-2.png);
  display: block;
}