body{
  width:1200px;
  font-size: 0;
}
div{
  position: relative;
}
/*
Add your CSS to the ID selectors below
*/
#statue{
  position: absolute;
  z-index: -1;
  top:20px;
  left: 20px;
}

#ball{
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 42.5px;
}

#turnip{
  position: absolute;
  z-index: 1;
  top: 479px;
  left: 317px;
}

#farm{
  position: absolute;
  z-index: -1;
  top: 212px;
  left: 20px;
}

#grass{
  position: absolute;
  z-index: 1;
  top: 479px;
  left: 513px;
}

#tetris{
  position: absolute;
  z-index: -1;
  top: 695px;
  left: 20px;
}

#L{
  position: absolute;
  z-index: 1;
  top: 2395px;
  left: 120px;
}

#T{
  position: absolute;
  z-index: 1;
  top: 2495px;
  left: 520px;
}

#I{
  position: absolute;
  z-index: 1;
  top: 2395px;
  left: 1020px;
}