body {
  background-image: linear-gradient(white, black); /* used a gradient instead of a color to make it look good */
  min-width: 555px; /* Settings I changed to make it look good */
}
h1, h2, h3 {
  margin: auto;
  text-align: center;
}
#wrapper {
  width: 80%;
  margin: auto;
  background-color: gray;
  box-shadow: 2px 2px, 2px 2px white inset; 
  border: 1px solid gray; /* Settings I changed to make it look good */
  border-radius: 15px; /* Settings I changed to make it look good */
  padding-left: 2px; /* Settings I changed to make it look good */
  padding-top: 1%; /* Settings I changed to make it look good */
}
hr {
  margin: 1%; /* Settings I changed to make it look good */
  height: 5px; /* Settings I changed to make it look good */
  border-width: 0px; /* Settings I changed to make it look good */
  background-image: radial-gradient(rgba(255, 0, 0, 1), rgba(255, 0, 0, 1), rgba(255, 0, 0, 0.05), rgba(255, 0, 0, 0)); /* Settings I changed to make it look good */
}
div {
  width: 90%;
  margin: auto;
}
.itembox {
  border: 2px double white;
  border-radius: 20px;
  box-shadow: 0px 1px 3px 1px;
  background-color: tan;
  color: darkred;
  padding: 2% 1%;
}
.favorite {
  border: 2px dashed white;
  border-radius: 30px;
  box-shadow: 1px 2px 5px 2px white, 1px 2px 5px 2px white inset;
  background-color: peachpuff;
  color: maroon;
  padding: 2%;
}
ol {
  border: 1px solid maroon; /* Settings I changed to make it look good */
  background-image: radial-gradient(at top left, palegoldenrod, tan); /* used a gradient instead of a color to make it look good */
  list-style-type: square;
  box-shadow: 1px 1px 5px 1px black inset; /* Settings I changed to make it look good */
  padding-top: 1%; /* Settings I changed to make it look good */
  padding-bottom: 1%; /* Settings I changed to make it look good */
}
ul {
  border: 1px solid darkred; /* Settings I changed to make it look good */
  background-image: linear-gradient(to right, lightblue, tan); /* used a gradient instead of a color to make it look good */
  list-style-type: upper-alpha;
  box-shadow: 1px 1px 5px 1px black inset; /* Settings I changed to make it look good */
  padding-top: 1%; /* Settings I changed to make it look good */
  padding-bottom: 1%; /* Settings I changed to make it look good */
}
nav {
  position: sticky;
  top: 0;
  padding: 1vh 0px;
  text-align: center;
  background-color: black;
  border: 1px solid white;
}
nav li {
  display: inline;
}
a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
}
div a {
  border-radius: 5px;
  padding: 5px;
  margin: 0px 20px;
}
nav a {
  border-radius: 0px;
  padding: 1vh 2vw;
  margin: auto;
}
a:link {
  background-color: black;
}
a:visited {
  background-color: black;
}
a:hover {
  background-color: gray;
}
a:active {
  background-color: white;
}
footer {
  font-style: italic;
  color: white;
  border: 1px solid white;
  margin: 10px 5px;
  border-radius: 3px;
  background-color: black;
  padding: 3px 10px;
}